# Ignore build output in the inner stlHashTable folder (your VS project)
/stlHashTable/bin/
/stlHashTable/obj/
/stlHashTable/.vs/
/stlHashTable/packages/

# Ignore build output in the outer stlHashTable folder (where .git is located)
/bin/
/obj/
/.vs/
/packages/